* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: repeat(5, 1fr) 2em 1em / repeat(1, 1fr);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
        "top"
        "..."
        "cen"
        "..."
        "bot"
        "not"
        "...";
    background: black;
    color: white;
    text-shadow: 1px 1px 0 black;
}

a {
    color: white;
}

#notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: not;
    font-size: 1rem;
    padding: 0.5em;
    height: 2em;
    background: rgba(0, 0, 0, 0.2);
}

#credit-logo {
    height: 100%;
    width: 100px;
}

#top {
    grid-area: top;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 1em;
}

#center {
    grid-area: cen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#bottom {
    grid-area: bot;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 1em;
}

#goals-top {
    font-size: 1.5rem;
    font-weight: bold;
}

#time {
    font-size: 6vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 1px solid white;
}

#top,
#center,
#bottom {
    font-size: 1.25rem;
}

#tagline {
    font-size: 1.5rem;
    padding: 0.5em 0 0 0;
}

#poster {
    border: 1px solid black;
    width: 100px;
    height: 150px;
    box-shadow: 1px 1px 20px #aaa;
}

#search-bar {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 0.5em;
}

#search-bar input {
    width: 250px;
}

#search-bar input:focus {
    outline: none;
}

#search-bar button:hover {
    cursor: pointer;
    background: lightgray;
}

#search-bar input,
#search-bar button {
    padding: 0.5em;
    border: none;
}

#goals {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2);
    padding: 0.5em 1em 0.5em 0.5em;
}

#goal {
    max-width: 80ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.5;
}

#settings {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 0.5em;
    width: 185px;
}

#current-backdrop-overview {
    display: none;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 0.5em;
    width: 220px;
}

#lock-movie-setting,
#lock-backdrop-setting {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 185px;
    gap: 0.2em;
}

#lock-movie-btn,
#lock-backdrop-btn {
    cursor: pointer;
    padding: 0.2em 0.5em;
    width: 100%;
}

#open-settings-link {
    color: white;
}

.no-movie {
    display: flex;
    align-items: center;
    background: black;
    padding: 0.5em;
    margin: 0;
}

.goal {
    font-size: 1.25rem;
}

#title,
#content-warning,
#current-backdrop {
    font-size: 1rem;
}

#title-info {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.5;
}

#title {
    max-width: 60ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#search-bar-form label,
#change-backdrop-form label {
    margin: 0 0.5em 0 0;
}

#search-bar-form input,
#change-backdrop-form input {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}


#change-backdrop-form input{
    width: 5ch;
}

#search-bar-form button,
#change-backdrop-form button {
    cursor: pointer;
    padding: 0.5em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#search-bar-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
}

#change-backdrop-form {
    display: none;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
}