* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    line-height: 1.5;
}

p {
    font-size: 1rem;
}

a {
    color: black;
    font-size: 1.25rem;
}

legend {
    font-size: 1.25rem;
}

#settings-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.row {
    display: flex;
    flex-direction: row;
}

#settings-form label {
    font-size: 1rem;
}

.color-field {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 0.5em;
}

.preview-field {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5em;
}

.checkbox-field {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 0.2em;
}

.goal-field {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.goal-field input {
    width: 100%;
}

.goal-field button {
    padding: 0.5em;
    width: 20%;
}

#save-changes-btn,
#back-to-dashboard-btn {
    padding: 1em;
    width: 100%;
    cursor: pointer;
}

#colors-fieldset,
#nsfw-fieldset,
#goals-fieldset,
#tagline-fieldset {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 0.5em;
}

input[type="checkbox"] {
    vertical-align: middle;
    position: relative;
    top: 0.15em;
}

#goals-fieldset input,
#quotes-fieldset input {
    padding: 0.5em;
}

#goals-fieldset input:focus,
#quotes-fieldset input:focus {
    outline: none;
}

#preview {
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: 1px 1px 0 black;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5em 1em;
}

#restore-default-colors-btn {
    width: 20%;
    padding: 0.5em;
}

#saved-changes-text {
    visibility: hidden;
    font-size: 1.25rem;
    align-self: center;
    margin: 0 0 2em 0;
}